* {
  margin: 0;
  font-family: Poppins;
}

.section-navigation {
  background-image: url(/src/assets/images/favorites__images/navigation_image.jpg);
  height: 316px;
  display: flex;
}
.navigation {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  align-items: center;
  margin: auto;
  &__el {
  }
}
.el {
  &__first {
  }

  &__second {
    margin-top: -30px;
  }
  &__second h1 {
    font-size: 48px;
    font-weight: 500;
  }
  &__third {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.el_1 {
  font-weight: 500;
}
