* {
  margin: 0;
  font-family: Poppins;
}
.section-navigation {
  background-image: url(/src/assets/images/favorites__images/navigation_image.jpg);
  height: 316px;
  display: flex;
  margin-bottom: 50px;
}
.navigation {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  align-items: center;
  margin: auto;
}
.el__second {
  margin-top: -30px;
}
.el__second h1 {
  font-size: 48px;
  font-weight: 500;
}
.el__third {
  display: flex;
  align-items: center;
  gap: 6px;
}
.el_1 {
  font-weight: 500;
}
.favorites-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 0px 30px 50px;
  gap: 20px;
}
.product {
  display: flex;
}
.product__image {
  width: 80%;
}
.product__name {
  font-size: 30px;
}
.product__price {
  font-size: 20px;
}
.second-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.last-img {
  cursor: pointer;
}
.add {
  width: 146px;
  height: 48px;
  border-style: none;
  font-weight: 600;
  color: #b88e2f;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add:hover {
  cursor: pointer;
  background-color: #b88e2f;
  color: #ffffff;
}
