<section class="section-footer">
    <div class="footer">
        <div class="footer-container">
            <div class="footer__column">
                <h1 class="">Funiro.</h1>
                <p>400 University Drive Suite 200 Coral Gables,
                    </br>FL 33134 USA</p>
            </div>
            <div class="footer__column">
                <span>Links</span><span>Home</span><span>Shop</span><span>About</span><span>Contact</span>
            </div>
            <div class="footer__column"><span>Help</span><span>Payment
                    Options</span><span>Returns</span><span>Privacy Policies</span>
            </div>
            <div class="footer__column">
                <span>Newsletter</span>
                <div class="footer__form">
                    <input class="form__input" type="text" placeholder="Enter Your Email Address"><button
                        class="form__btn">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-bottomText">2023 furino. All rights reverved</div>
    </div>
</section>