<div class="header">
    <div class="header__first">
        <a href="/index.html" class="header__first-logo"> <img src="/images/header__images/header__logo.svg" alt=""></a>
        <a href="/index.html">
            <h1 class="header__first-caption">Furniro</h1>
        </a>
    </div>
    <div class="header__list">
        <ul class="header__list-ul">
            <li><a href="/">Home</a></li>
            <li><a href="/shop.html">Shop</a></li>
            <li>About</li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="header__action-buttons">
        <a href=""><img src="/images/header__images/header__profile.svg" alt=""></a>
        <a href=""><img src="/images/header__images/header__search.svg" alt=""></a>
        <a href="/favorites.html"><img src="/images/header__images/header__like.svg" alt=""></a>
        <a href="/basket.html"><img src="/images/header__images/header__cart.svg" alt=""></a>
    </div>
</div>