* {
  margin: 0;
  font-family: Poppins;
}

.image-navigation img {
  width: 100%;
}

.section-top {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
  background-color: #f9f1e7;
  height: 100px;
}
.top {
  display: flex;
  justify-content: space-between;
  width: 1242px;
  margin: 0 auto;
  &__left {
    display: flex;
    gap: 30px;
  }

  &__right {
    display: flex;
    gap: 30px;
  }
}
.left {
  &__filter {
    display: flex;
    gap: 23px;
  }

  &__info {
    display: flex;
    align-items: center;
    border-left: 2px #9f9f9f solid;
    padding-left: 34px;
  }
}
.filters {
  display: flex;
  gap: 12px;
}
.view {
  display: flex;
  gap: 23px;
}

.filters,
.view {
  display: flex;
  align-items: center;
}

.right {
  &__first {
  }

  &__second {
  }

  &__first,
  &__second {
    display: flex;
    gap: 17px;
    align-items: center;
    font-size: 20px;
  }
}

.right-form {
  background-color: #ffffff;
  height: 55px;
}

.show-form {
  width: 55px;
}
.short-form {
  width: 188px;
}
