* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.image-navigation {
  margin-bottom: 65px;
}
.image-navigation img {
  width: 100%;
}
.section-basket {
  display: flex;
  margin-bottom: 70px;
}
.basket {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.grocery-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.grocery-list__header {
  max-width: 817px;
}
.grocery-list__roster {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-elements {
  list-style: none;
  background-color: #f9f1e7;
  padding: 15px 0px;
  display: grid;
  grid-template-columns: 127px 162px 162px 91px 147px 53px;
  gap: 15px;
}
.list-elements li {
  font-weight: 500;
}
.el {
  white-space: nowrap;
}
.product {
  display: grid;
  grid-template-columns: 127px 162px 181px 73px 147px 53px;
  align-items: center;
  gap: 15px;
}
.product .first-img,
.product .last-img {
  font-size: 0;
  cursor: pointer;
}
.product__image {
  width: 70%;
}
.product__name--grey {
  color: #9f9f9f;
}
.product .quantity .in-quantity {
  width: 44px;
  /* Увеличен для поля ввода */
  height: 32px;
  text-align: center;
  border: 1px #9f9f9f solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__quantity {
  vertical-align: middle;
}
.product .product__quantity-input {
  width: 100%;
  text-align: center;
  border: none;
  font-size: 16px;
}
.product .product__quantity-input:focus {
  border: none;
  outline: none;
}
.product .sss {
  text-align: center;
}
.product .product-bin {
  width: 21px;
}
.cart-totals {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 75px 80px 75px;
  background-color: #f9f1e7;
}
.cart-totals__caption {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 600;
}
.table {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.table__row {
  display: flex;
  justify-content: space-between;
  width: 243px;
}
.table__btn {
  font-size: 20px;
  padding: 14px 58px;
  background: none;
  border-radius: 15px;
  border-width: 2px;
  border-color: black;
}
.total {
  font-weight: 500;
}
.sum--grey {
  color: #9f9f9f;
}
.sum--gold {
  font-size: 20px;
  color: #b88e2f;
  font-weight: 500;
}
.info-image img {
  width: 100%;
}
