<div>
    <div class="header">
        <div class="header__first">
            <a href="/" class="header__first-logo"> <img src="/src/assets/images/header__images/header__logo.svg"
                    alt=""></a>
            <a href="/">
                <h1 class="header__first-caption">Furniro</h1>
            </a>
        </div>
        <div class="header__list">
            <ul class="header__list-ul">
                <li><a href="/">Home</a></li>
                <li><a href="/src/html/shop.html">Shop</a></li>
                <li>About</li>
                <li><a href="/src/html/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="header__action-buttons">
            <a href="/"><img src="/src/assets/images/header__images/header__profile.svg" alt=""></a>
            <a href=""><img src="/src/assets/images/header__images/header__search.svg" alt=""></a>
            <a href="/src/html/favorites.html"><img src="/src/assets/images/header__images/header__like.svg" alt=""></a>
            <a href="/src/html/basket.html"><img src="/src/assets/images/header__images/header__cart.svg" alt=""><span
                    id="cart-count">0</span></a>
        </div>
    </div>
</div>
<script src="/src/scripts/layout.js" type="module"></script>